Numpy is required by pandas (and by virtually all numerical tools for Python). ... Rather, it's an extra tool that provides a more streamlined way of working with numerical and tabular data in Python. You can use pandas data structures but freely draw on Numpy and Scipy functions to manipulate them.

In [1]:
import pandas as pd

dict1 = {"country":["Brazil", "Russia", "India", "China", "South Africa"],
 "capital":["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
 "area":[8.516, 17.10, 3.286, 9.597, 1.221],"population":[200.4, 143.5, 1252, 1357, 52.98] }

brics = pd.DataFrame(dict1, index=['a','b','c','d','e'])

In [2]:
print(brics)

        country    capital    area  population
a        Brazil   Brasilia   8.516      200.40
b        Russia     Moscow  17.100      143.50
c         India  New Delhi   3.286     1252.00
d         China    Beijing   9.597     1357.00
e  South Africa   Pretoria   1.221       52.98

# lets filter the countries whose area is greater than 8 million km2,
there are 3 steps:

1:select the areas
2: do comparison
3: store the results

In [3]:
is_huge=brics["area"]>8

In [4]:
print(is_huge)

a     True
b     True
c    False
d     True
e    False
Name: area, dtype: bool

In [5]:
brics[is_huge]

  country   capital    area  population
a  Brazil  Brasilia   8.516       200.4
b  Russia    Moscow  17.100       143.5
d   China   Beijing   9.597      1357.0

In [6]:
# or in short
brics[brics["area"]>8]

  country   capital    area  population
a  Brazil  Brasilia   8.516       200.4
b  Russia    Moscow  17.100       143.5
d   China   Beijing   9.597      1357.0

In [7]:
pwd

'/Users/Administrator/DATACAMP'

to use boolean comparisons and filtering in numpy, use np.logical_or, np.logical_and, np.logical_not

In [8]:
type(brics)

pandas.core.frame.DataFrame

FOR IMPORTING/READING/WRITING CSV FILES (WHICH IS IN YOUR CURRENT DIRECTORY) AS PANDAS DATAFRAMES:

In [9]:
sample= pd.read_csv('samplecsv.csv', index_col=0)

In [10]:
print(sample)

   a  s  t
1  1  3  r
2  2  2  e
3  3  3  r
4  4  4  f
5  5  5  d

In [11]:
type(sample)

pandas.core.frame.DataFrame

for iterarion in a pandas data frame, .iterrows() is usable

In [12]:
for labelname,rows in sample.iterrows():
    sample.loc[labelname, "new_col"]= "s"
print(sample)

   a  s  t new_col
1  1  3  r       s
2  2  2  e       s
3  3  3  r       s
4  4  4  f       s
5  5  5  d       s

LOOPING AND FILTERING DATAFRAMES

In [13]:
#interrows method


# Code for loop that adds upper letters of t column

for lab,row in sample.iterrows():
    sample.loc[lab,"T upper"]=row['t'].upper()

# Print
print(sample)

   a  s  t new_col T upper
1  1  3  r       s       R
2  2  2  e       s       E
3  3  3  r       s       R
4  4  4  f       s       F
5  5  5  d       s       D

#If you want to add a column to a DataFrame by calling a function on another column

you'll want to use apply().

In [14]:
sample["T upper"]=sample['t'].apply(str.upper)
print(sample)

   a  s  t new_col T upper
1  1  3  r       s       R
2  2  2  e       s       E
3  3  3  r       s       R
4  4  4  f       s       F
5  5  5  d       s       D

In [16]:
sample["T lower"]=sample['T upper'].apply(str.lower)
print(sample)

   a  s  t new_col T upper T lower
1  1  3  r       s       R       r
2  2  2  e       s       E       e
3  3  3  r       s       R       r
4  4  4  f       s       F       f
5  5  5  d       s       D       d