In [1]:
# first import numpy and pandas
import numpy as np
import pandas as pd

# many types of data structures could be taken as an input in pd.DataFrame()

In [17]:
# Take a 2D array as input to your DataFrame 
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
print(pd.DataFrame(my_2darray))

# Take a dictionary as input to your DataFrame 
my_dict = {1: ['1', '3'], 2: ['1', '2'], 3: ['2', '4']}
print(pd.DataFrame(my_dict))

# Take a DataFrame as input to your DataFrame 
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['A'])
print(pd.DataFrame(my_df))

# Take a Series as input to your DataFrame
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
print(pd.DataFrame(my_series))

   0  1  2
0  1  2  3
1  4  5  6
   1  2  3
0  1  1  2
1  3  2  4
   A
0  4
1  5
2  6
3  7
                         0
United Kingdom      London
India            New Delhi
United States   Washington
Belgium           Brussels

# IMPORTING CSV FILES

In [5]:
cars=pd.read_csv('/administrator/cars.csv)

SyntaxError: EOL while scanning string literal (<ipython-input-5-2cb9008d0ace>, line 1)

# Index and Selcet Data

In [10]:
# column access from a data frame
my_df ['A']

0    4
1    5
2    6
3    7
Name: A, dtype: int64

In [13]:
# for not seeing the info below the column info, use 2 brackets
#BECAUSE this is a pd type

print(type(my_df))

my_df[['A']]

<class 'pandas.core.frame.DataFrame'>

   A
0  4
1  5
2  6
3  7

In [14]:
print(type(my_2darray))

<class 'numpy.ndarray'>

In [ ]:
#     * in pandas loc for label based, iloc for positions