LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd¶

In [4]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [5]:
lesser_of_two_evens (5,9)

9

In [6]:
lesser_of_two_evens (4,8)

4

Write a function takes a word string and returns True if both words begin with same letter

In [9]:
def first_letter_test (a,b):
    if a[0]==b[0]:
        return True
    else:
        return False

In [10]:
fist_letter_test('hello','higher')

True

In [11]:
fist_letter_test('hello','tiger')

False

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter¶

In [18]:
# we can use .split() here to split the words
def animal_crackers(sample):
    eachword=sample.split()
    return eachword[0][0]==eachword[1][0]

In [19]:
animal_crackers('lion tiger')

False

In [20]:
animal_crackers('lion lama')

True

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False¶

In [28]:
def two_integers(n1,n2):
    if n1+2==20 or n1==20 or n2==20:
        return True
    else:
        return False

In [29]:
two_integers(33,20)

True

In [30]:
two_integers(22,33)

False

In [32]:
#however, the output of == is a boolean, so we can use this withoout using if arguments
def two_integers2(n1,n2):
    return n1+2==20 or n1==20 or n2==20

In [33]:
two_integers2(11,20)

True

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name¶
we can use .capitalize()

In [38]:
#if the name is shorter than 4 letters, output should be a warning
def caponefour (name):
    if len(name)>3:
        return name[:3].capitalize()+name[3:].capitalize()
    else:
        print('the name is too short')

In [39]:
caponefour('oldmacdonald')

'OldMacdonald'

MASTER YODA: Given a sentence, return a sentence with the words reversed¶
#we can use ''.join() for this. adds between the characters

In [46]:
'__'.join('11')

'1__1'

In [53]:
def reverse_words(text):
    return ' '.join(text.split()[::-1])

In [54]:
reverse_words('good morning what a beautiful day')

'day beautiful a what morning good'

In [56]:
# location the reverse orders is important, this only reverses the words, not letters
#if we put it to another location
def reverse_words2(text):
    return ' '.join(text[::-1].split())

In [58]:
reverse_words2('good morning what a beautiful day')

'yad lufituaeb a tahw gninrom doog'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200¶
we can use abs() for checking the |10| limits

In [63]:
def almost_there(int1):
    return ((abs(int1-100)<= 10) or (abs(int1-200)<=10))

In [64]:
almost_there(99)

True

In [65]:
almost_there(22)

False

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
#assigning a variable for the ints in the list is a good way of checking

In [70]:
def find33(integers):
    for x in integers:
        if integers[x:x+2]==[3,3]:
            return True 
    return False

In [74]:
find33([1,3,4,5,3,6,3,3,6,7])

True

In [75]:
find33([3,4,5,6,7,8,9,3])

False

 Given a string, return a string where for every character in the original there are three characters¶

In [78]:
def tripleletter(text):
    final=''
    for i in text:
        final=final+i*3
    return final

In [79]:
tripleletter('canada')

'cccaaannnaaadddaaa'

In [82]:
tripleletter('how are you')

'hhhooowww   aaarrreee   yyyooouuu'

Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'¶

In [88]:
def blackjack(a,b,c):
    if sum((a,b,c))<=21:
        return sum((a,b,c))
    elif sum((a,b,c))>21 and 11 in (a,b,c):
        return sum((a,b,c))-10
    else:
        return 'BUST'

In [89]:
blackjack(1,4,12)

17

In [90]:
blackjack(11,9,9)

19

In [91]:
blackjack(1,2,3)

6

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.¶

In [ ]:
def except69sum(nums):
    last=0
    for i in nums:
        if i==6