In [1]:
# to create a list with strings, append() function is useful
#create an empty list and use for loop

myword='helloworld'
newlist=[]
for letters in myword:
    newlist.append(letters)

In [2]:
newlist

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [3]:
# you can simply do the same thing inside you new list
myword='helloworld'
newlist=[letters for letters in myword]

In [4]:
newlist

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [5]:
mylist=[x for x in 'hellomoon']

In [6]:
mylist

['h', 'e', 'l', 'l', 'o', 'm', 'o', 'o', 'n']

In [7]:
# do the same thing in integer list
mylist2=[num for num in range(0,12)]

In [8]:
mylist2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [9]:
#changing the character of the list is also easy
mylist3=[num**2 for num in range(1,9)]
mylist3

[1, 4, 9, 16, 25, 36, 49, 64]

In [10]:
mylist=[letter*2 for letter in 'hellomoon']
mylist

['hh', 'ee', 'll', 'll', 'oo', 'mm', 'oo', 'oo', 'nn']

In [11]:
mylist3=[x for x in range(0,11) if x%2==0]

In [12]:
mylist3

[0, 2, 4, 6, 8, 10]

In [13]:
#let's create a fahreneight celcius converter with lots of temperature variables
fahreneight=[44,55,66,77,88]
celcius=[((temp-32)/180)*100 for temp in fahreneight]
celcius

[6.666666666666667,
 12.777777777777777,
 18.88888888888889,
 25.0,
 31.11111111111111]

In [18]:
#let's also use if in this list for finding odd and even numbers
mylist3=['even' if x%2==0 else 'odd' for x in range(0,11)]

In [19]:
mylist3

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [21]:
# for comprehension of two lists there is an easy method
# multiplication for instance:
mylist4=[x*y for x in [3,4,5] for y in [6,7,8]]
mylist4

[18, 21, 24, 24, 28, 32, 30, 35, 40]